@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  background-color: #1C1A1A;
  overflow-x: hidden;
  box-sizing: border-box;
}
.Line0{
  z-index: -1;
  position: relative;
width: 70vh;
height: 0px;
right:-37.5vh;
top:32vh;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #6DA9A6;
border: 3px solid #6DA9A6;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.Line1{
  z-index: -1;
  position:relative;
width: 90vh;
height: 0px;
left: 108vh;
top: -41vh;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #6DA9A6;
border: 3px solid #6DA9A6;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.line14{
  position: relative;
  width: 265.8vh;
  height: 0px;
  left: -25vh;
  top: 166vh;

  border: 2px solid #6DA9A6;
  transform: rotate(-90deg)
}
.Line2{
  z-index: -1;
  position: relative;
width: 68vh;
height: 0px;
left: 12.1vh;
top: -75vh;

border: 3px solid #6DA9A6;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
transform: rotate(-90deg);
}

.Line3{
  z-index: -1;
  position: relative;
width: 40vh;
height: 0px;
right:-67.5vh;
top:53vh;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #6DA9A6;
border: 3px solid #6DA9A6;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Line4{
  z-index: -1;
  position: relative;
width: 40vh;
height: 0px;
right:-119vh;
top: 15vh;

border: 3px solid #6DA9A6;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
transform: rotate(-90deg);
}

.Line5{
  z-index: -1;
  position: relative;
width: 67vh;
height: 0px;
right: -108vh;
top:139vh;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #6DA9A6;
border: 3px solid #6DA9A6;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Line6{
  z-index: -1;
  position: relative;
width: 50vh;
height: 0px;
left: 10vh;
top: 103vh;

border: 3px solid #6DA9A6;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
transform: rotate(-90deg);
}
.Ellipse5{
  border-radius: 100%;
  text-overflow: ellipsis;
  position: absolute;
  width: 160px;
  height: 160px;
  left: 796.19px;
  top: 1066px;

  background: #6462E2;
  transform: rotate(21.71deg);
}
.Ellipse6{
  border-radius: 100%;
  position: absolute;
  width: 60px;
  height: 60px;
  left: 899.8px;
  top: 913px;

  background: #6462E2;
  transform: rotate(21.71deg);
}

.Ellipse4{
  border-radius: 100%;
  position: absolute;
  width: 130px;
  height: 130px;
  left: 1104.59px;
  top: 848px;

  background: #6462E2;
  transform: rotate(21.71deg);
}
.Shapes{
  position: relative;
  top:-1120px;
  margin-bottom: 300px;
}
.Ellipse3{
  border-radius: 100%;
  position: absolute;
width: 180px;
height: 180px;
left: 983.19px;
top: 966px;

background: #6462E2;
transform: rotate(21.71deg);
}
.Ellipse2{
  border-radius: 100%;
  position: absolute;
width: 40px;
height: 40px;
left: 982.7px;
top: 1223px;

background: #6462E2;
transform: rotate(21.71deg);
}

.Ellipse1{
  border-radius: 100%;
  position: absolute;
width: 80px;
height: 80px;
left: 1159.59px;
top: 1130px;

background: #6462E2;
transform: rotate(21.71deg);
}
/*---------- Nav bar css ---------------*/
.menu__bar{
  
  position: fixed;
  top:0;
  width: 100%;
  display: flex;
  background-color: #6462E2;
  justify-content: space-between;
  min-height: 65px;
  z-index: 10000;
}
.logo{
  font-size: 25px;
  color:#E1E1E1
}
.menu__bar ul{
  
  list-style: none;
  display: flex;
}
.menu__bar ul li{
  position: relative;
  padding: 3px 40px 0 0;
}
.menu__bar ul li a{
  font-size: 20px;
  text-decoration: none;
  color:#E1E1E1;
}

.menu__bar ul li a:hover{
  color: white;
  text-decoration: underline;
}
.drop__down{
  display: none;
}
.menu__bar ul li:hover .drop__down{
  width: max-content;
  position: absolute;
  display: block;
  left:-40px;
  top: 100%;
  background-color: #6462E2;
}
.drop__down ul{
  padding-left: 10px;
  margin-top: 20px;
  display: block;
 
}

.aspect-ratio-item p{
  font-size: 23px;
}
.drop__down ul li{
  
  margin-bottom: 10px;
}
.drop__down form input.inp{
  border: none;

}
.menu__bar .inp{
  padding: 5px 20px 10px 10px;
  background-color: #6462E2;
  border: 0px;
  font-size: 1.3rem;
  color: #E1E1E1;
  outline: none;
  cursor: pointer;
  margin: 0;
}
/*---------- Nav bar css ---------------*/
/********** Title ***************/
#title h1{
  font-family: 'Montserrat';
  font-style: normal;
  letter-spacing: 0.13em;
  color: #E1E1E1;
  text-align: left;
  padding-left: 4%;
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  padding-top: 50px;
}
#title p{
  font-family: 'Montserrat';
  font-style: normal;
  letter-spacing: 0.13em;
  color: #E1E1E1;
  text-align: left;
  padding-left: 4%;
  font-weight: 400;
  font-size: 25px;
  line-height: 37px;
  padding-top: 10px;
}
#colored{
  color:#6462E2;
}
#title h3{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.13em;
  color: #6DA9A6;
  text-align: left;
  padding-left: 4%;
}
#title h5{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
  text-align: left;
  padding-left: 4%;
  margin-bottom: 20%;
}
.pos-button{
  text-align: left;
  padding: 25px 0 0 4%;
  
}
.btn {
  display: inline-block;
  padding: 20px 30px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000000;
  background-color: #EBC7E6;
  border: none;
  border-radius: 15px;
  box-shadow: -7px 7px #999;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.13em;
}

.btn:hover {background-color: #deb0d8}

.btn:active {
  background-color: #b376aa;
  box-shadow: 0 0px #666;
  transform: translateY(4px);
  transform: translateX(-3px);
}

/* ******************Card css***************** */


.card {
  background-color: #1C1A1A;
max-width: 40%;
height: auto;
border: 1px solid #e6e6e6;
border-radius: 30px;  

}
.card .btn{
  margin:5% 0 5% 10%;
}

.card-image {
position: relative;
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
height:162px;
border-radius: 30px;
}

.aspect-ratio-container {
position: relative;
height: 0;
padding-top: calc(3 / 4 * 100%);
margin-right: 20px;
}

.aspect-ratio-item {
position: absolute;
left: 0;
top: 0;
width: 100% ;
height: 100% ;

}
.pos-left{
  text-align: left;
padding:25px 0 0 4%;
}
.pos-right{
  
  padding:25px 4% 0 0;
  position: absolute;
  left: 60%;
  top: 60%;
}
#Card1{
  right: 60%;
  top: 120%;
}
#Card2{

  left: 60%;
  top: 180%;

}
/* *****************cards content************* */
.card h4{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.13em;
  color: #6DA9A6;
  top: 7%;
  left:8%;
  position: absolute;
}
.card p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 24px;
  color: #FFFFFF;
  position: absolute;
  left:5%;
  top:6%;
}

.hidden{
  opacity: 0;
  transition: all 3s;
}

.show{
  opacity: 1;
}