@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap');
code
    {
        font-size: 17px;
        
    }
    img{
        background-color: white;
    }
.code{
    color: white;
 
    width: 80%;
   
}

pre{
    font-size: 16px;
    white-space: pre-wrap;
}
.like
{
    display: flex;
    margin-top: 17px;
    margin-left: 10px;
    font-size: 22px;
}
.container
{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top:100px;
    margin-left:20px;
    
}
.title
{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    
}

.content
{
    margin-top: 40px;
    font-family: 'Gentium Plus', serif;
    font-size: 20px;
}
img{
    margin: 30px;
}

.solution{
    max-width: 100%;
}