.content-table {
    border-collapse: collapse;
    margin: 25px auto 25px auto;
    font-size: 0.9em;
    width: 75%;
    overflow: hidden;
    border: 1px solid wheat;
}

table th{
    text-align: center;
    border-bottom: 1px solid #dddddd ;
}
tbody tr{
    text-align: center;
    
}
tbody tr a{
    text-decoration: none;
    color: #dddddd;
}
.content-table thead tr {
    background-color: #1F1D3D;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
img{
    padding : 0 25px 0 25px;
}
.content-table th{
    padding: 12px 15px;
}
table tr i{

    color: greenyellow;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #1F1D3D;
}
.content-table tbody tr.passive-row{
    background-color: #28254C;
    color: #FFFFFF;
}